<div id="<%= dom_id customer %>">
  <div class="col-lg order-lg-3">
    <h1 class="mb-4">Customer Info</h1>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action"><strong>Full name</strong>: <%= customer.full_name %></a>
      <a href="#" class="list-group-item list-group-item-action"><strong>Phone</strong>: <%= customer.phone %></a>
      <a href="#" class="list-group-item list-group-item-action"><strong>Email</strong>: <%= customer.email %></a>
    </div>
  </div>
</div>