<h1>Editing customer</h1>

<%= render "form", customer: @customer %>

<br>

<div>
  <%= link_to "Show", @customer, class: 'btn btn-primary' %> |
  <%= link_to "Back", customers_path, class: 'btn btn-primary' %>
</div>
