<div id="<%= dom_id order %>">
  <h1>Order Details</h1>
  <p>
    <strong>Customer Id:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Product Name:</strong>
    <%= order.product_name %>
  </p>

  <p>
    <strong>Product Count:</strong>
    <%= order.product_count %>
  </p>
</div>