<div id="<%= dom_id order %>">
  <p>
    <strong>Full name:</strong>
    <%= order.customer.first_name %>
  </p>

  <p>
    <strong>Product Name:</strong>
    <%= order.product_name %>
  </p>

  <p>
    <strong>Product Count:</strong>
    <%= order.product_count %>
  </p>

</div>