<div id="<%= dom_id order %>">
  <p>
    <strong>Product name:</strong>
    <%= order.product_name %>
  </p>

  <p>
    <strong>Product count:</strong>
    <%= order.product_count %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

</div>
