<div id"<%= dom_id order %>
  <p>
    <strong>Customer:</strong>
    <%= order.customer.full_name %>
  </p>
  <p>
    <strong>Product:</strong>
    <%= order.product_name %>
  </p>
  <p>
    <strong>Quantity</strong>
    <%= order.product_count %>
  </p>

</div>