<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<div id="orders" class="container-fluid d-flex gap-2">
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
</div>
<div class="d-flex py-2">
  <%= link_to "New order", new_order_path, class:"btn btn-primary" %>
</div>