@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: 'NotoSerif';
  src: url('NotoSerif.ttf');
}

:root {
  --bs-body-bg: #fffbfb;
}

.my_alert {
  color: red;
}

.errors {
  color: red;
  border: 1px solid;
  padding: 1em;
}

.banner-background {
  font-family: 'NotoSerif';
  background-image: url('head_back.jpg');
  background-size: cover;
}

.banner-overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(344deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

label {
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 5px;
  color: #333;
  display: block;
}

input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input[type="number"] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

select {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}