<div class="my-2 bg-body-tertiary rounded-3 banner-background">
    <div class="p-5 rounded-3">
        <div class="container-fluid py-5">
            <div class="text-white">
                <div>
                    <h1 class="display-5 text-white">Welcome to <strong class="fw-bold">Furni</h1>
                </div>
                <p class="col-md-8 fs-4">How about doing a little work today?</p>
                <div class="d-flex align-items-center">
                    <%= link_to "Create new customer", new_customer_path, class:"btn btn-primary" %>
                    <p class="mx-2 mb-0">or</p>
                    <%= link_to "Create new order", new_order_path, class:"btn btn-primary" %>
                </div>
            </div>
        </div>
    </div>
</div>